@charset "UTF-8";

body{
    background-color: #17181E;
    color: white;
}

.bloc-of-tasks-parent {
    margin: 0px auto;
    width: 100%;
    max-width: 1000px;
    min-width: 400px;
}

#parent-header {
    top: -20px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    height: 100%;
    max-height: 150px;
    min-height: 80px;
    margin: 0 auto 20px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
}

.round {
    width: 60px;
    height: 60px;
    position: relative;
    background:#24242c;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    z-index: 1;
}

.title {
    margin-left: 20px;
    /* font-size: 2.5vw; */
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    cursor: default;
    position: relative;
    z-index: 2;
}

.tree-points {
    top: -5px;
    left: 422px;
    position: relative;
    /* font-size: 3vw; */
    font-size: 40px;
    color: #2c2c35;
    font-family: 'Karla', sans-serif;
    z-index: 3;
}

#parent-rect-add {
    top: -5px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto 80px;
    z-index: 1;
}

#parent-align {
    width: 100%;
    max-width: 720px;
    min-width: 380px;
    position: relative;
    display: flex;
    align-items: center;
    margin: -20px auto;
    z-index: 2;
}

.text {
    left: 20px;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
    width: 100%;
    height: 60px;
    color: #FFF;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    z-index: 2;
}

.icon {
    left: -30px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: none;
    position: relative;
    background: transparent;
    z-index: 2;
}

.rectangle-with-border {
    width: 100%;
    height: 70px;
    border: 3px solid #24242c;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}

#parent-rect {
    top: 20px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto 80px;
    z-index: 1;
}

.rectangle {
    width: 100%;
    height: 70px;
    background:#24242c;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}

#title-parent {
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    margin: 0 auto;
    cursor: default;
    position: relative;
    z-index: 2;
}

#title-parent-2 {
    top: 20px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    margin: 0 auto;
    cursor: default;
    position: relative;
    z-index: 2;
}

.content-title {
    width: 100%;
    color: crimson;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
    position: relative;
    z-index: 2;
}


/* text-decoration: line-through; */






/* html, body, #myIconComplete {
    width: 100px;
    height: 100px;
    margin: 0;
}


html, body, #myIconEmpty {
    width: 100px;
    height: 100px;
    margin: 0;
} */













/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    width: 40%;
    font-weight: bold;
    font-size: 20px;
    opacity: 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
} */
