@charset "UTF-8";

body{
    background-color: #17181E;
    color: white;
}

.bloc-of-tasks-parent {
    margin: 0px auto;
    width: 100%;
    max-width: 1000px;
    min-width: 400px;
}

#parent-1 {
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    height: 100%;
    max-height: 150px;
    min-height: 80px;
    margin: 0 auto 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.round {
    width: 60px;
    height: 60px;
    position: relative;
    background:#24242c;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    z-index: 1;
}

.content-bloc-1 {
    margin-left: 20px;
    /* font-size: 2.5vw; */
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    position: relative;
    z-index: 2;
}

.tree-points {
    top: -5px;
    left: 422px;
    position: relative;
    /* font-size: 3vw; */
    font-size: 40px;
    color: #2c2c35;
    font-family: 'Karla', sans-serif;
    z-index: 3;
}

#parent-2 {
    top: -5px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto 40px;
}

.content-bloc-2 {
    left: 70px;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
    position: relative;
    z-index: 2;
}

.add-task {
    left: -80px;
    width:30px;
    height:30px;
    position: relative;
    z-index: 2;
}

.rectangle-with-border {
    width: 100%;
    height: 70px;
    border: 3px solid #24242c;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}

#title-parent {
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    margin: 0 auto;
    position: relative;
}

.content-title {
    width: 100%;
    top: 10px;
    color: crimson;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
    position: relative;
    z-index: 2;
}

#parent-3 {
    top: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    z-index: 2;
}

.content-bloc-3 {
    left: 70px;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
     position: relative;
    z-index: 2;
}

.task-empty {
    left: -265px;
    width:30px;
    height:30px;
    position: relative;
    z-index: 2;
}

.rectangle {
    width: 100%;
    height: 70px;
    background:#24242c;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}



#parent-4 {
    top: 20px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
}

.content-bloc-4 {
    left: 70px;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
     position: relative;
    z-index: 2;
}

.task-empty-2 {
    left: -310px;
    width:30px;
    height:30px;
    position: relative;
    z-index: 2;
}

#parent-5 {
    top: 35px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    margin: 0 auto;
     position: relative;
    display: flex;
    align-items: center;
}

.content-bloc-5 {
    left: 70px;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
     position: relative;
    z-index: 2;
}

.task-empty-3 {
    left: -265px;
    width:30px;
    height:30px;
    position: relative;
    z-index: 2;
}

#parent-6 {
    top: 50px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    margin: 0 auto;
     position: relative;
    display: flex;
    align-items: center;
}

.content-bloc-6 {
    left: 70px;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
     position: relative;
    z-index: 2;
}

.task-empty-4 {
    left: -362px;
    width:30px;
    height:30px;
    position: relative;
    z-index: 2;
}

#parent-7 {
    top: 65px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    margin: 0 auto;
     position: relative;
    display: flex;
    align-items: center;
}

.content-bloc-7 {
    left: 70px;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
     position: relative;
    z-index: 2;
}

.task-empty-5 {
    left: -258px;
    width:30px;
    height:30px;
    position: relative;
    z-index: 2;
}

#title-parent-2 {
    width: 100%;
    max-width: 830px;
    min-width: 380px;
    margin: 0 auto;
    position: relative;
}

.content-title-2 {
    top: 100px;
    color: crimson;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
    position: relative;
    z-index: 2;
}

#parent-8 {
    top: 177px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
     position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.content-bloc-8 {
    left: 70px;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
     position: relative;
    z-index: 2;
}

.task-complete {
    left: -278px;
    width:30px;
    height:30px;
    position: relative;
    z-index: 2;
}

#parent-9 {
    top: 30px;
    width: 100%;
    max-width: 830px;
    min-width: 380px;
     position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.content-bloc-9 {
    left: 70px;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
     position: relative;
    z-index: 2;
}

.task-complete-2 {
    left: -250px;
    width:30px;
    height:30px;
    position: relative;
    z-index: 2;
}

.rectangle-complete {
    width: 100%;
    height: 70px;
    background: #24242c;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}
